<%= stylesheet_link_tag "admin_index" %>

<h1 class="mb-3">エリア一覧</h1>

<%= link_to '新しいエリアを追加', new_admin_area_path, class: 'btn btn-primary mb-3' %>
<% if flash[:success].present? %>
  <div class="alert alert-success text-center mt-2">
    <%= flash[:success].html_safe %>
  </div>
<% elsif flash[:destroy].present? %>
  <div class="alert alert-danger text-center">
    <%= flash[:destroy].html_safe %>
  </div>
<% end %>
<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>都道府県</th>
      <th>市区郡</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= area.city_name %></td>
        <td>
          <%= link_to '編集', edit_admin_area_path(area), class: 'btn btn-sm btn-warning me-2' %> 
          <%= link_to '削除', admin_area_path(area), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>