<% content_for :js do %>
  <%= javascript_import_module_tag "shared/hamburger" %>
  <%= javascript_import_module_tag "shared/search" %>
<% end %>

<% assign_meta_tags title: "#{@article&.store&.name} - #{@article&.category&.name}/#{@article&.area&.city_name}",
                    description: "#{@article.title}" %>

<% content_for :head do %>
  <script type="application/ld+json">
    <%= raw json_ld @article %>
  </script>
<% end %>

<main>
  <article class="front_main_container">
    <p class="pankuzu">
      <%= link_to 'ホーム', root_path, class: "common_a" %> > <%= truncate_content(@article.title, 31) %>
    </p>
    <div class="main_content">
      <section class="content_left">
        <% image = @article.top_image if @article.top_image.attached? %>
        <%= image_tag(image, alt: "#{@article&.store&.name} #{@article&.area&.city_name}の#{@article&.category&.name}", class: "detail_img") %>
        <h2><%= @article.title %></h2>

        <div class="detail_content_sub_bottom">
          <dziv class="clock">
            <div class="clock_img">
              <%= image_tag("clock.svg", alt: "時計アイコン", class: "clock_img") %>
            </div>
          </dziv>
          <p class="clock_data"><%= @article.created_at.strftime("%Y/%m/%d") %></p>

          <div class="position">
            <%= image_tag("position.svg", alt: "位置情報アイコン", class: "position_img") %>
            <p><%= @article&.area&.name %> - <%= @article&.area&.city_name %></p>
          </div>

          <% if @article&.category&.name.present? %>
            <p class="tag"><%= @article&.category&.name %></p>
          <% end %>
        </div>
        <div class="detail_main_content">
          <% markdown_content = markdown(@article.content).html_safe %>
          <% markdown_content_with_br = markdown_content.gsub(/\n\n/, '<br>') %>
          <%= sanitize(markdown_content_with_br) %>
        </div>
      </section>

      <aside class="content_right detail_aside">
        <%= render partial: "shared/sidebar", locals: { 
          ranking_articles: @ranking_articles,
          categories: @categories,
          areas: @areas 
        } %>
      </aside>
    </div>
    
    <%= render 'store_info', article: @article %>

    <% if @coupons_list_1.present? || @coupons_list_2.present? %>
      <div class="coupon_content">
        <p class="coupon_name"><%= @store&.name %> のクーポン一覧 （全<%= (@coupons_list_1 + @coupons_list_2).size%>枚）</p>

        <% if @coupons_list_1.present? %>
          <p class="coupon_name">初回来店用クーポン</p>
          <div class="coupon_first_list">
            <% @coupons_list_1.each do |coupon| %>
              <div class="coupon">
                <div class="left">
                  <div class="coupon_tag_title">
                    <div class="coupon_tag">
                      <%= image_tag 'coupon.svg' %>
                    </div>
                    <p>クーポン</p>
                  </div>
                  <div class="left_top">
                    <h3><%= coupon&.title %></h3>
                  </div>
                  <div class="left_bottom">
                    <div class="coupon_term_part">
                      <p class="left_bottom_left">利用条件</p>
                      <p class="left_bottom_right"><%= coupon&.usage_terms&.gsub(",", " / ") %></p>
                    </div>
                    <div class="coupon_term_part">
                      <p class="left_bottom_left">提示条件</p>
                      <p class="left_bottom_right"><%= coupon&.presentation_terms&.gsub(",", " / ") %></p>
                    </div>
                  </div>
                </div>
                <div class="right">
                    <div class="right-inner">
                        <div class="date">
                          <span class="expiration_date_title">有効期限</span>
                          <p><%= get_coupon_expiration_data coupon %></p>
                        </div>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @coupons_list_2.present? %>
          <p class="coupon_name">2回目以降来店用クーポン</p>
          <div class="coupon_second_list">
            <% @coupons_list_2.each do |coupon| %>
              <div class="coupon">
                <div class="left">
                  <div class="coupon_tag_title">
                    <div class="coupon_tag">
                      <%= image_tag 'coupon.svg' %>
                    </div>
                    <p>クーポン</p>
                  </div>
                  <div class="left_top">
                    <h3><%= coupon&.title %></h3>
                  </div>
                  <div class="left_bottom">
                    <div class="coupon_term_part">
                      <p class="left_bottom_left">利用条件</p>
                      <p class="left_bottom_right"><%= coupon&.usage_terms&.gsub(",", " / ") %></p>
                    </div>
                    <div class="coupon_term_part">
                      <p class="left_bottom_left">提示条件</p>
                      <p class="left_bottom_right"><%= coupon&.presentation_terms&.gsub(",", " / ") %></p>
                    </div>
                  </div>
                </div>
                <div class="right">
                    <div class="right-inner">
                        <div class="date">
                          <span class="expiration_date_title">有効期限</span>
                          <p><%= get_coupon_expiration_data coupon %></p>
                        </div>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="related_articles">
      <h3 class="common_title_h3">関連記事</h3>
      <div class="common_content related_contents">
        <% if @related_articles.present? %>
          <% @related_articles.each do |elated_article| %>
            <%= link_to article_path(elated_article), class: "common_content_part related" do %>
              <div class="image_part">
                <%= image_tag elated_article.top_image if elated_article.top_image.attached? %>
              </div>
              <p><%= truncate_content(elated_article.title, 33) %></p>
              <p><%= elated_article.created_at.strftime("%Y/%m/%d") %></p>
            <% end %>
          <% end %>
        <% else %>
          <p class="not_content">関連記事がひとつもありません。</p>
        <% end %>
      </div>
    </div>

    <aside class="detail_aside_bottom">
      <%= render partial: "shared/sidebar", locals: { 
        ranking_articles: @ranking_articles,
        categories: @categories,
        areas: @areas 
      } %>
    </div>
  </article>
</main>