<%= stylesheet_link_tag "admin_index" %>

<h1 class="mb-3">お知らせ一覧</h1>

<%= link_to '新しいお知らせを追加', new_admin_notice_path, data: {turbo: false}, class: 'btn btn-primary mb-3' %>
<% if flash[:success].present? %>
  <div class="alert alert-success text-center mt-2">
    <%= flash[:success].html_safe %>
  </div>
<% elsif flash[:destroy].present? %>
  <div class="alert alert-danger text-center">
    <%= flash[:destroy].html_safe %>
  </div>
<% end %>

<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>日付</th>
      <th>お知らせタイトル</th>
      <th>種類</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.created_at.strftime('%Y/%m/%d %H:%M:%S管理者ログイン管理者ログイン') %></td>
        <td><%= notice.title %></td>
        <td><%= notice.kind == 1 ? "お知らせ" : (notice.kind == 2 ? "リリース" : "未知") %></td>
        <td>
          <%= link_to '編集', edit_admin_notice_path(notice), data: {turbo: false}, class: 'btn btn-sm btn-warning me-2' %> 
          <%= link_to '削除', admin_notice_path(notice), data: { "turbo-method": :delete, turbo_confirm: "削除しますか？"}, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
