<div class="col-md-3">
  <div class="list-group mb-2">
    <%= active_link_to '投稿一覧', admin_posts_path, class: "list-group-item list-group-item-action" %>
    <%= active_link_to 'カテゴリー一覧', admin_categories_path,  class: "list-group-item list-group-item-action" %>
    <%= active_link_to 'エリア一覧', admin_areas_path,  class: "list-group-item list-group-item-action" %>
    <%= active_link_to '店舗情報一覧', admin_stores_path,  class: "list-group-item list-group-item-action" %>
    <%= active_link_to 'お知らせ一覧', admin_notices_path,  class: "list-group-item list-group-item-action" %>
    <%= link_to 'ログアウト', admin_logout_path, method: :delete, class: "list-group-item list-group-item-action" %>
  </div>
</div>