<header>
  <div class="header">
    <div class="header_left">
      <%= link_to root_path, data: { turbolinks: false }  do %>
        <%= image_tag "1.png", alt: "日常街のポータル" %>
      <% end %>
    </div>
    <div class="header_right">
      <ul class="nav_menu">
        <li class="<%= 'active_header_menu' if current_page?(about_path) %>">
          <%= link_to "日常街のポータルとは", about_path %>
        </li>
        <li class="<%= 'active_header_menu' if current_page?(articles_path(type: 'recommend')) %>">
          <%= link_to "おすすめ", articles_path(type: 'recommend') %>
        </li>
        <li class="<%= 'active_header_menu' if current_page?(articles_path(type: 'news')) %>">
          <%= link_to "新着記事", articles_path(type: 'news') %>
        </li>
        <li class="<%= 'active_header_menu' if current_page?('#') %>">
          <%= link_to "お知らせ", "#" %>
        </li>
        <li class="<%= 'active_header_menu' if current_page?('#') %>">
          <%= link_to "問い合わせ", "#" %>
        </li>
      </ul>
    </div>
    <div class="header_right_mobile">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul id="mobile-nav">
        <li><%= link_to "日常街のポータルとは", about_path %></li>
        <li><%= link_to "おすすめ", articles_path(type: 'recommend') %></li>
        <li><%= link_to "新着記事", articles_path(type: 'news') %></li>
        <li><%= link_to "お知らせ", "#" %></li>
        <li><%= link_to "問い合わせ", "#" %></li>
      </ul>
    </div>
  </div>
</header>


