<header>
  <div class="header">
    <div class="header_left">
      <%= link_to root_path do %>
        <%= image_tag "1.png", alt: "日常街のポータル" %>
      <% end %>
    </div>
    <div class="header_right">
      <ul class="nav_menu">
        <li class="store_request">
          <%= link_to "店舗掲載依頼する", "https://docs.google.com/forms/d/1Tp1E_CNcpD-no-avT4etZC0mPVRXjb2q86CUSaFPOgU/prefill", target: '_blank', rel: 'noopener noreferrer' %>
          <div class="store_request_arrow">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.46 18.0002C10.1459 17.9993 9.83558 17.9311 9.55 17.8002C9.24083 17.6639 8.97741 17.4415 8.79122 17.1596C8.60503 16.8776 8.50393 16.548 8.5 16.2102V7.79019C8.50393 7.45234 8.60503 7.12276 8.79122 6.84081C8.97741 6.55886 9.24083 6.33647 9.55 6.20019C9.90574 6.03216 10.3015 5.96744 10.6923 6.01341C11.083 6.05938 11.453 6.21419 11.76 6.46019L16.86 10.6702C17.06 10.8294 17.2215 11.0317 17.3325 11.2619C17.4435 11.4922 17.5012 11.7446 17.5012 12.0002C17.5012 12.2558 17.4435 12.5082 17.3325 12.7384C17.2215 12.9687 17.06 13.171 16.86 13.3302L11.76 17.5402C11.3924 17.8383 10.9333 18.0008 10.46 18.0002Z" fill="white"/>
            </svg>
          </div>
        </li>
        <li class="<%= 'active_header_menu' if current_page?(about_path) %>">
          <%= link_to "日常街のポータルとは", about_path %>
        </li>
        <li class="<%= 'active_header_menu' if controller_name == 'articles' && params[:type] == 'recommend' %>">
          <%= link_to "おすすめ", articles_path(type: 'recommend') %>
        </li>
        <li class="<%= 'active_header_menu' if controller_name == 'articles' && params[:type] == 'news' %>">
          <%= link_to "新着記事", articles_path(type: 'news') %>
        </li>
        <li class="<%= 'active_header_menu' if current_page?('#') %>">
          <%= link_to "お知らせ", notices_path %>
        </li>
      </ul>
    </div>
    <div class="header_right_mobile">
      <li class="store_request">
        <%= link_to "店舗掲載依頼する", "https://docs.google.com/forms/d/1Tp1E_CNcpD-no-avT4etZC0mPVRXjb2q86CUSaFPOgU/prefill", target: '_blank', rel: 'noopener noreferrer' %>
        <div class="store_request_arrow">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.46 18.0002C10.1459 17.9993 9.83558 17.9311 9.55 17.8002C9.24083 17.6639 8.97741 17.4415 8.79122 17.1596C8.60503 16.8776 8.50393 16.548 8.5 16.2102V7.79019C8.50393 7.45234 8.60503 7.12276 8.79122 6.84081C8.97741 6.55886 9.24083 6.33647 9.55 6.20019C9.90574 6.03216 10.3015 5.96744 10.6923 6.01341C11.083 6.05938 11.453 6.21419 11.76 6.46019L16.86 10.6702C17.06 10.8294 17.2215 11.0317 17.3325 11.2619C17.4435 11.4922 17.5012 11.7446 17.5012 12.0002C17.5012 12.2558 17.4435 12.5082 17.3325 12.7384C17.2215 12.9687 17.06 13.171 16.86 13.3302L11.76 17.5402C11.3924 17.8383 10.9333 18.0008 10.46 18.0002Z" fill="white"/>
          </svg>
        </div>
      </li>
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul id="mobile-nav">
        <li><%= link_to "日常街のポータルとは", about_path %></li>
        <li><%= link_to "おすすめ", articles_path(type: 'recommend') %></li>
        <li><%= link_to "新着記事", articles_path(type: 'news') %></li>
        <li><%= link_to "お知らせ", notices_path %></li>
      </ul>
    </div>
  </div>
</header>
