<header>
  <div class="header">
    <div class="header_left">
      <%= link_to root_path, data: { turbolinks: false }  do %>
        <%= image_tag "1.png", alt: "日常街のポータル" %>
      <% end %>
    </div>
    <div class="header_right">
      <ul class="nav_menu">
        <li><%= link_to "日常街のポータルとは", about_path %></li>
        <li><%= link_to "おすすめ", "#" %></li>
        <li><%= link_to "新着記事", "#" %></li>
        <li><%= link_to "お知らせ", "#" %></li>
        <li><%= link_to "問い合わせ", "#" %></li>
      </ul>
    </div>
    <div class="header_right_mobile">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul id="mobile-nav">
        <li><%= link_to "日常街のポータルとは", about_path %></li>
        <li><%= link_to "おすすめ", "#" %></li>
        <li><%= link_to "新着記事", "#" %></li>
        <li><%= link_to "お知らせ", "#" %></li>
        <li><%= link_to "問い合わせ", "#" %></li>
      </ul>
    </div>
  </div>
</header>
