<%= form_with url: multi_search_articles_path, method: :get, local: true, id: "search-form", class: "search-form pc_search_form" do %>
  <div class="form-group">
    <label for="prefecture">都道府県<span>から探す</span></label>
    <%= select_tag :prefecture, options_for_select(Area.unique_prefectures, params[:prefecture]), include_blank: "選択してください", id: "prefecture", class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="city">市区町村<span>から探す</span></label>
    <%= select_tag :city, options_for_select([], params[:city]), include_blank: "都道府県を選択してください", id: "city", class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="category">ジャンル<span>から探す</span></label>
    <%= select_tag :category, options_for_select(Category.order_categoies, params[:category]), include_blank: "選択してください", id: "category", class: "form-control" %>
  </div>
  <%= submit_tag 'この条件で検索する', class: 'search-button btn btn-primary' %>
  <%= button_tag 'クリア', type: 'button', class: 'clear-button btn btn-secondary', id: "reset-button" %>
<% end %>


