<%= form_with model: @category, url: (@category.new_record? ? admin_categories_path : admin_category_path(@category)) do |f| %>
  <%= render 'shared/error_messages'%>

  <div>
    <%= f.label :name, "カテゴリ名" %>
    <span class="badge bg-danger form_require">必須項目</span>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="mb-4">
    <%= link_to '戻る', admin_categories_path, data: {turbo: false}, class: 'btn btn-warning mt-2' %>
    <%= f.submit '更新', data: {turbo: false}, class: 'btn btn-info mt-2' %>  
  </div>
<% end %>
