<%= stylesheet_link_tag "admin_index" %>

<h1 class="mb-3">カテゴリ一覧</h1>

<%= link_to '新しいカテゴリを追加', new_admin_category_path, class: 'btn btn-primary mb-3' %>
<% if flash[:success].present? %>
  <div class="alert alert-success text-center mt-2">
    <%= flash[:success].html_safe %>
  </div>
<% elsif flash[:destroy].present? %>
  <div class="alert alert-danger text-center">
    <%= flash[:destroy].html_safe %>
  </div>
<% end %>
<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>カテゴリ名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to '編集', edit_admin_category_path(category), class: 'btn btn-sm btn-warning me-2' %> 
          <%= link_to '削除', admin_category_path(category), method: :delete, data: { confirm: "削除しますか？\n\nカテゴリーを削除したら、投稿に紐づいているタグが削除されるため新しいカテゴリーを登録してください。" }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>