<% content_for :js do %>
  <%= javascript_import_module_tag "shared/hamburger" %>
<% end %>

<div class="about_top_visual">
  <div class="about_top_visual_container">
    <h2>真実のロコミを超えて街の本物を。</h2>
    <h3>日常街のポータルが目指す世界</h3>
    <p>地元住民の知る名店を発掘し、真の価値を伝える「日常街のポータル」。私たちが望むのは、大手の評価に囚われず、地域の真実の魅力を体験してもらう世界。<br>
      オーナーの情熱や地域への愛を、皆さんに感じて頂きたい。
    </p>
  </div>
</div>

<div class="front_main_container">
  <div class="site_about_content">
    <h1 class="about_title">日常街のポータルとは</h1>
    <p>
      地元の人が知っている街の名店・知ってるとちょっと鼻が高くなる良いお店。<br>
      そういった地元にフォーカスしたウェブマガジン。
    </p>
  </div>
  <div class="about_info_container">
    <div class="about_info_content">
      <h3>実体験が語る本当の価値</h3>
      <div class="about_info_part">
        <div class="about_info_part_left">
          <b>「実際に足を運び、心で感じたお店」</b>
          <p>
            ポータルサイトやGoogleの口コミだけでは、時々、本当の価値を見逃してしまうことがあります。しかし、一度足を運んでみれば、その評価とは裏腹に素晴らしい発見が待っていることも。私たち「日常街のポータル」は、そんな「意外なお宝」を実際に体験して、真の価値を伝えます。
          </p>
        </div>
        <div class="about_info_part_right">
          <%= image_tag "about_img2.webp", alt: "「日常街のポータルとは」画面の写真" %>
        </div>
      </div>
      <div class="about_info_part revese">
        <div class="about_info_part_left">
          <b>「地域の熱烈サポーターたち」</b>
          <p>
            地域で熱烈なサポートを受けている美容院、地元で人気の雑貨屋、語り継がれる老舗の飲食店。実際に訪れると、その人気の理由が納得できることが多いです。地域を愛する多くの人々の声が、実際のサービスや商品の魅力を伝えています。
          </p>
        </div>
        <div class="about_info_part_right">
          <%= image_tag "about_img5.webp", alt: "「日常街のポータルとは」画面の写真" %>
        </div>
      </div>
    </div>
    <div class="about_info_content">
      <h3>実体験が語る本当の価値</h3>
      <div class="about_info_part">
        <div class="about_info_part_left">
          <b>「真の感動を生むオススメ情報」</b>
          <p>
            「日常街のポータル」では、各業種の訪問者たちが心からのおすすめ情報を共有しています。これは単なる評価を超えて、彼らの真の感動や経験を反映したもの。そういった情報こそが、新たな素敵な体験や発見への第一歩となります。
          </p>
        </div>
        <div class="about_info_part_right">
          <%= image_tag "about_img1.webp", alt: "「日常街のポータルとは」画面の写真" %>
        </div>
      </div>
      <div class="about_info_part revese">
        <div class="about_info_part_left">
          <b>「感動の深さを可視化」</b>
          <p>
            「日常街のポータル」では、利用者の体験談や感じた情熱を通じて、様々な場所の感動の深さを感じることができます。一つ一つの情報が、訪れる前の期待や興奮を高め、文字や写真だけでなく、人々の実際の体験が、その場所の本質や特色を鮮明に伝えていきます。
          </p>
        </div>
        <div class="about_info_part_right">
          <%= image_tag "about_img3.webp", alt: "「日常街のポータルとは」画面の写真" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about_bottom_visual">
  <div class="about_bottom_visual_container">
    <h2>真実のロコミを超えて街の本物を。</h2>
    <p>地元住民の知る名店を発掘し、真の価値を伝える「日常街のポータル」。私たちが望むのは、大手の評価に囚われず、地域の真実の魅力を体験してもらう世界。<br>
      オーナーの情熱や地域への愛を、皆さんに感じて頂きたい。
    </p>
  </div>
</div>
