<% content_for :js do %>
  <%= javascript_import_module_tag "shared/hamburger" %>
  <%= javascript_import_module_tag "slick_setup" %>
  <%= javascript_import_module_tag "shared/search" %>
<% end %>

<main>
  <section class="main_top">
    <div class="top_message">
      <h1>日常街のポータルで</h1>
      <h1>あなたの街が輝く瞬間へ</h1>
    </div>
    <div class="slider">
      <div><%= image_tag "image.webp" %></div>
      <div><%= image_tag "image2.webp" %></div>
      <div><%= image_tag "image3.webp" %></div>
      <div><%= image_tag "image4.webp" %></div>
      <div><%= image_tag "image5.webp" %></div>
      <div><%= image_tag "image6.webp" %></div>
      <div><%= image_tag "image7.webp" %></div>
      <div><%= image_tag "image8.webp" %></div>
      <div><%= image_tag "image9.webp" %></div>
      <div><%= image_tag "image10.webp" %></div>
    </div>
  </section>
  <div class="front_main_container">
    <div class="main_content">
      <section class="content_left">
        <div class="top_picks">
          <div class="common_title">
            <h2>
              TOP PICKS <span>おすすめ</span>
            </h2>
          </div>
          <% if @top_pick_articles.present? %>
            <div class="common_content">
              <% @top_pick_articles.each do |top_pick_article| %>
                <%= link_to article_path(top_pick_article), class: "common_content_part" do %>
                  <div class="image_part">
                    <%= image_tag top_pick_article.top_image if top_pick_article.top_image.attached? %>
                  </div>
                  <p><%= truncate_content(top_pick_article.title, 33) %></p>
                  <p><%= top_pick_article.created_at.strftime("%Y/%m/%d") %></p>
                <% end %>
              <% end %>
            </div>
            <%= link_to "More", articles_path(type: 'recommend'), class: "more_btn" %>
          <% else %>
            <p class="not_content">記事がひとつもありません。</p>
          <% end %>
        </div>
        <div class="news">
          <div class="common_title">
            <h2>
              News <span>新着記事</span>
            </h2>
          </div>
          <% if @news_articles.present? %>
            <div class="common_content">
              <% @news_articles.each do |news_article| %>
                <%= link_to article_path(news_article), class: "common_content_part" do %>
                  <div class="image_part">
                    <%= image_tag news_article.top_image if news_article.top_image.attached? %>
                  </div>
                  <p><%= truncate_content(news_article.title, 33) %></p>
                  <p><%= news_article.created_at.strftime("%Y/%m/%d") %></p>
                <% end %>
              <% end %>
            </div>
            <%= link_to "More", articles_path(type: 'news'), class: "more_btn" %>
          <% else %>
            <p class="not_content">記事がひとつもありません。</p>
          <% end %>
        </div>
      </section>
      <aside class="content_right">
        <%= render partial: "shared/sidebar", locals: { 
          ranking_areas: @ranking_areas,
          categories: @categories,
          areas: @areas 
        } %>
      </aside>
    </div>
    <setion class="notices">
      <div class="common_title">
        <h2>
          Notices <span>お知らせ</span>
        </h2>
      </div>
      <div class="notice_list">
        <% if @notices.present? %>
          <% @notices.each do |notice| %>
            <div class="notice_part">
              <div class="notice_kind_content">
                <p class="notice_time"><%= notice.created_at.strftime('%Y.%m.%d') %></p>
                <p class="notice_kind <%= get_notice_kind_classname notice.kind %>"><%= get_notice_kind_name notice.kind %></p>
              </div>
              <%= link_to notices_path(id: notice), class: "notice_body" do %>
                <%= truncate_content(notice.content, 50) %>
                <span>
                  <%= image_tag "arrow.svg" %>
                </span>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p class="not_content">お知らせがひとつもありません。</p>
        <% end %>
      </div>
    </section>
  </div>
</main>