<!DOCTYPE html>
<html>
  <head>
    <title>日常街のポータル</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= yield(:js) %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  </head>

  <body>
    <% if request.fullpath.include?('admin') %>
      <% if current_admin %>
        <div class="container">
          <div class="mt-2 row">
            <!-- サイドバー部分 -->
            <%= render 'shared/admin_header' %>

            <!-- メインコンテンツ部分 -->
            <div class="col-md-9">
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>
    <% else %>
      <%= stylesheet_link_tag "index" %>
      <%= stylesheet_link_tag "destyle" %>

      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
