<%= stylesheet_link_tag "admin_index" %>

<h1 class="mb-3">店舗情報一覧</h1>

<% if !current_company_admin? %>
  <%= link_to '新しい店舗を追加', new_admin_store_path, class: 'btn btn-primary mb-3' %>
<% end %>
<% if flash[:success].present? %>
  <div class="alert alert-success text-center mt-2">
    <%= flash[:success].html_safe %>
  </div>
<% elsif flash[:destroy].present? %>
  <div class="alert alert-danger text-center">
    <%= flash[:destroy].html_safe %>
  </div>
<% end %>
<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>店舗名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td>
          <%= link_to '詳細', admin_store_path(store), class: 'btn btn-sm btn-success me-2' %> 
          <%= link_to '編集', edit_admin_store_path(store), class: 'btn btn-sm btn-warning me-2' %> 
          <% if !current_company_admin? %>
            <%= link_to '削除', admin_store_path(store), method: :delete, data: { confirm: "削除しますか？" }, class: 'btn btn-sm btn-danger me-2' %>
          <% end %>
          <%= link_to 'クーポン', admin_coupons_path(store_id: store.id), class: 'btn btn-sm bg-info me-2' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>