<%= stylesheet_link_tag "admin_index" %>

<h1>店舗情報詳細</h1>

<div class="mt-4">
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <th>店舗名</th>
        <td><%= @store.name %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @store.tel %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @store.address %></td>
      </tr>
      <tr>
        <th>徒歩 アクセス方法</th>
        <td><%= @store.access %></td>
      </tr>
      <tr>
        <th>バス アクセス方法</th>
        <td><%= @store.access2 %></td>
      </tr>
      <tr>
        <th>最寄駅</th>
        <td><%= @store.nearest_station %></td>
      </tr>
      <tr>
        <th>最寄駅２</th>
        <td><%= @store.nearest_station2 %></td>
      </tr>
      <tr>
        <th>営業時間 ランチ平日</th>
        <td><%= @store.sales_time_lanch_weekday %></td>
      </tr>
      <tr>
        <th>営業時間 ランチ土日祝</th>
        <td><%= @store.sales_time_lanch_holiday %></td>
      </tr>
      <tr>
        <th>営業時間 ディナー平日</th>
        <td><%= @store.sales_time_dinner_weekday %></td>
      </tr>
      <tr>
        <th>営業時間 ディナー土日祝</th>
        <td><%= @store.sales_time_dinner_holiday %></td>
      </tr>
      <tr>
        <th>定休日</th>
        <td><%= @store.holiday %></td>
      </tr>
      <tr>
        <th>支払い方法</th>
        <td><%= @store.pay_methods %></td>
      </tr>
      <tr>
        <th>ホームページURL</th>
        <td><%= @store.homepage_url %></td>
      </tr>
      <tr>
        <th>食べログリンク</th>
        <td><%= @store.sns_link_tabelog %></td>
      </tr>
      <tr>
        <th>ツイッターリンク</th>
        <td><%= @store.sns_link_twitter %></td>
      </tr>
      <tr>
        <th>インスタグラム</th>
        <td><%= @store.sns_link_instagram %></td>
      </tr>
      <tr>
        <th>フェースブック</th>
        <td><%= @store.sns_link_facebook %></td>
      </tr>
      <tr>
        <th>LINEリンク</th>
        <td><%= @store.sns_link_line %></td>
      </tr>
    </tbody>
  </table>

  <div class="mb-4">
    <%= link_to '戻る', admin_stores_path, data: {turbo: false}, class: 'btn btn-warning mt-2' %>
  </div>
</div>
